.experience-main-container {
    display: flex;
    flex-direction: row;
    padding: 0px 300px;

}

.experience-main-content {
    flex: 2 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.experience-main-info {
    font-size: 30px;
    width: 50%;
}

.experience-description-container {
    font-size: 18px;
    width: 90%;
    font-weight: 300;
}

.experience-skills-container {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;  
    grid-column-gap: 40px;
}

.experience-illustration-container {
    flex: 1 1;
}

.green {
    color: #AEFF02;
}

.skill-box {
    min-height: 20px;
    border-radius: 50px;
    background-color: #1E1E1E;
    font-size: 12px;
    text-align: center;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    justify-content: start;
    align-items: center;
}